<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: "Home" }) %>

    <body>
        <%- include("partials/navbar") %>
            <% if (user) {%>
                <h2 class="welcome-user">Hello <%= user.username %>
                </h2>
                <form action="/auth/logout" method="get">
                    <button>Logout</button>
                </form>
                <% if (user.membership_status=="Free User" ) {%>
                    <a href="/upgradeAccount/membership">
                        Upgrade Membership
                    </a>
                    <% } %>
                        <% if (!user.isadmin) {%>
                            <a href="/upgradeAccount/admin">
                                Upgrade to admin
                            </a>
                            <% } %>
                                <a href="/message/addNewMessage">Create a new message</a>
                                <% } %>

                                    <h1>Messages</h1>

                                    <% if (messages.length> 0) { %>
                                        <div class="messages">
                                            <% messages.forEach(message=> { %>
                                                <p>
                                                    <% // Display author name depend memship%>
                                                        <% if (!user || user.membership_status !="member" ) { %>
                                                            Anonymous
                                                            <% } else { %>
                                                                <%= message.title %>
                                                                    <% } %>
                                                                        :
                                                                        <%= message.text %>
                                                                            <%= message.created_at %>

                                                                                <% if (user && user.isadmin) { %>
                                                                                    <form
                                                                                        action="/message/deleteMessage/<%=message.id%>"
                                                                                        method="post">
                                                                                        <button>Delete Message</button>
                                                                                    </form>

                                                                                    <% } %>

                                                </p>
                                                <% }); %>
                                        </div>
                                        <% } %>
                                            </div>
    </body>

</html>